
/**
    SECTIONS 
**/
.section-header {
    position: relative;
    padding-top: 7rem;
    padding-bottom: 3rem; }

.bg-primary {
    background-color: #6fa5c5 !important; }


/**
    PADDING
**/
.pb-0 {
    padding-bottom: 0 !important; }
  
  .pb-1 {
    padding-bottom: 0.25rem !important; }
  
  .pb-2 {
    padding-bottom: 0.5rem !important; }
  
  .pb-3 {
    padding-bottom: 1rem !important; }
  
  .pb-4 {
    padding-bottom: 1.5rem !important; }
  
  .pb-5 {
    padding-bottom: 3rem !important; }
  
  .pb-6 {
    padding-bottom: 5rem !important; }
  
  .pb-7 {
    padding-bottom: 8rem !important; }
  
  .pb-8 {
    padding-bottom: 10rem !important; }
  
  .pb-9 {
    padding-bottom: 11rem !important; }
  
  .pb-10 {
    padding-bottom: 14rem !important; }
  
  .pb-11 {
    padding-bottom: 16rem !important; }
  
  .pb-12 {
    padding-bottom: 20rem !important; }



.justify-content-center {
  justify-content: center !important; }

.rounded-circle {
  border-radius: 50% !important; }

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2); }
  .row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y); }

.text-center {
  text-align: center !important; }

.img-thumbnail {
  padding: 0.25rem;
  background-color: #ffffff;
  border: 0.0625rem solid #E5E7EB;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  max-width: 100%;
  height: auto; }


/**
 * = Images
 */
.image-lg {
height: 12rem; }

.image-md {
height: 5rem; }

.image-sm {
height: 3rem; }

.image-xs {
height: 2rem; }